body{
  background-color:#C1EFFF;
}
hr{
  border-style: none;
  border-top-style: dotted;
  width: 10%;
  border-color: grey;
  border-width: 5px;
}
h1{
  color: blue;
}
h3{
  color: green;
}
/************CLASS SELECTORS**************/
.circular{
  border-radius: 100%;
}
.resume{
  color: red;
}
.contact{
  color: red;
}
.textcolor{
  background-color: gold;
}
